<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miramicodigo.prueba_proyecto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".HistoriaActivity"
            android:label="Prueba_Proyecto" />
        <activity
            android:name=".Main2Activity"
            android:label="Defensa_Monografias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EleccionActivity"
            android:label="Eleccion_Ñusta" />
        <activity
            android:name=".RolActivity"
            android:label="Rol de ingreso pre entrada" />
        <activity
            android:name=".GaleriaActivity"
            android:label="Galeria de Imagenes" />
        <activity android:name=".AboutActivity"
            android:label="Acerca de" />
    </application>

</manifest>